<div class="section">
  <h2 class="sub_heading"> Profile </h2> 
  <div class="box white_bg">
    <div class="content_in_box">
      <p> <b> Real name: </b> <%= @profile.real_name %> </p>
      <p> <b> Age: </b> <%= @profile.age %> </p>
      <p> <b> Hometown: </b> <%= @profile.hometown %> </p>
      <p> <b> Favorite artists: </b> <%= @profile.favorite_artists %> </p>
      <p> <b> Favorite songs: </b> <%= @profile.favorite_songs %> </p>
      <% if current_user.id == @profile.user_id %>
      	<%= link_to 'Edit Profile', edit_profile_path(@profile.id) %>
      <% end %>
    </div>
  </div>
</div>
<div class="section">
  <h2 class="sub_heading"> Notifications </h2> 
  <div class="box white_bg">
    <div class="content_in_box">
      <% if current_user.id == @profile.user_id %>
      	<h3> Notifications </h3>
        <div id="notifications">
          <%= render partial: 'notifications/index' %>
        </div>
      <% end %>
    </div>
  </div>
</div>