<div class="comment_entries">
  <% @comments.each do |comment| %>
    <div class="comment_entry">
    	<div class="comment_header"> 
        <b> <%= link_to "#{comment.username}", profile_path( get_profile_id(comment.username) ) %> </b>
    	  <span class="minimize_text add_left_margin"> <%= format_time(comment.created_at) %> </span> 
      </div>
    	<div class="comment_content"> <%= raw comment.content %> </div>
    	<div class="comment_footer">
        <b> <%= link_to 'Reply', concert_comment_path(concert_id: comment.commentable_id, id: comment.id, 
                  username: comment.username, comment_reply: true), remote: true, class: 'minimize_text' %> </b>
        <%= link_to 'Delete', concert_comment_path(comment.commentable_id, comment.id), 
              method: :delete, remote: true, class: 'minimize_text add_left_margin' %>
    	</div>
    </div>
  <% end %>
</div>
<div class="pagination">
	<%= will_paginate @comments, param_name: 'comments_page', container: false, 
        params: { controller: 'comments', action: 'index', :"#{commentable.class.name.downcase}_id" => commentable.id, 
        commentable_id: commentable.id, commentable_type: commentable.class.name } %>
  <div class="pagination_info">
    (<%= @comments.total_entries %> <%= 'Comment'.pluralize(@comments.total_entries) %>)
  </div>
</div>