<h2 class="no_top_margin"> Videos </h2>
<% if @videos.blank? %>
  <p> <b> There are no videos to display. Add some! </b> </p>
<% else %>
  <div>
    <% video_number = @videos.current_page * 2 - 2 %>
  	<% @videos.each do |video| %>
  		<div class="inline_block">
        <% video_number += 1 %>
  			<h3 class="no_top_or_bottom_margins"> #<%= video_number %> </h3>
  			<%= raw youtube_embed(video.url) %>
  			<h3 class="no_top_or_bottom_margins">
          <%= link_to 'Comment on this video', concert_video_path(
                concert_id: @concert.id, id: video.id, reference_video: true), class: 'orangey_link', remote: true %> 
          <% if current_user && current_user.admin? %>
            <%= link_to 'Delete Video', concert_video_path(@concert.id, video.id, video_number: video_number), 
                  method: :delete, class: 'orangey_link', remote: true %>
          <% end %>
        </h3>
  		</div>
  	<% end %>
  </div>
  <div class="pagination">
  	<%= will_paginate @videos, param_name: 'videos_page', container: false, 
  		    params: { controller: 'videos', action: 'index', concert_id: @concert.id } %>
      <div class="pagination_info">
      	(<%= pluralize(@videos.total_entries, 'Video') %>)
      </div>
  </div>
<% end %>