<p class="category_group"> <b>
  <% if @category == 'Festival' %>
    <%= link_to 'Artists', productions_path(category: 'Artist', klass: @klass), remote: true, class: 'category' %>
    <span class="category"> Festivals </span>
    <%= link_to 'Both', productions_path(category: 'All', klass: @klass), remote: true, class: 'category' %>
  <% elsif @category == 'Artist' %>
    <span class="category"> Artists </span>
    <%= link_to 'Festivals', productions_path(category: 'Festival', klass: @klass), remote: true, class: 'category' %>
    <%= link_to 'Both', productions_path(category: 'All', klass: @klass), remote: true, class: 'category' %>
  <% else %>
    <%= link_to 'Artists', productions_path(category: 'Artist', klass: @klass), remote: true, class: 'category' %>
    <%= link_to 'Festivals', productions_path(category: 'Festival', klass: @klass), remote: true, class: 'category' %>
    <span class="category"> Both </span>
  <% end %>
</b> </p>
<p class="category_group"> <b>
  <% if @klass == 'Production' %>
    <span class="category"> Productions </span>
    <%= link_to 'Concerts', productions_path(klass: 'Concert', category: @category), remote: true, class: 'category' %>
  <% else # @klass == 'Concert' %>
    <%= link_to 'Productions', productions_path(klass: 'Production', category: @category), 
          remote: true, class: 'category' %>
    <span class="category"> Concerts </span>
  <% end %>
</b> </p>