<ul class='horizontal'>
	<li> 
    <%= link_to productions_path(genre: 'All', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %>
      <%= image_tag('all.gif') %>
      <b> All </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Blues', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %> 
      <%= image_tag('blues.jpg') %>
      <b> Blues </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Classical', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %>
      <%= image_tag('classical.gif') %>
      <b> Classical </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Country', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %> 
      <%= image_tag('country.jpg') %>
      <b> Country </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Electronic', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %>
      <%= image_tag('electronic.jpg') %>
      <b> Electronic </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Ethnic', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %> 
      <%= image_tag('ethnic.jpg') %>
      <b> Ethnic </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Hip Hop', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %> 
      <%= image_tag('hiphop.jpg') %>
      <b> Hip Hop </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Jazz', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %>
      <%= image_tag('jazz.jpg') %>
      <b> Jazz </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Pop', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %> 
      <%= image_tag('pop.jpg') %>
      <b> Pop </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'R&B', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %> 
      <%= image_tag('rnb.jpg') %>
      <b> R&B </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Rock', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %> 
      <%= image_tag('rock.jpg') %>
      <b> Rock </b>
    <% end %>
  </li>
	<li> 
    <%= link_to productions_path(genre: 'Other', category: @category, klass: @klass), 
          class: 'image_link', remote: true do %> 
      <%= image_tag('other.jpg') %>
      <b> Other </b>
    <% end %>
  </li>
</ul>