<h3 class="no_top_margin">
  <%= 'Searched' if @index_search.present? %>
  <% if @category == 'All' %>
    <%= @category %> <%= @genre unless @genre == 'All' %> <%= @klass.pluralize %>
  <% else %>
    <%= @genre unless @genre == 'All' %>
    <% if @klass == 'Production' %>
      <%= @category.pluralize %>
    <% else %>
      <%= @category %> Concerts
    <% end %>
  <% end %>
  <%= %Q(For "#{@index_search}") if @index_search.present? %>
</h3>
<% if @productions_or_concerts.empty? && @klass == 'Production' && 
     @category == 'All' && @genre == 'All' && @index_search.nil? %>
     <p> There are no productions. Add some! </p>
<% elsif @productions_or_concerts.empty? %>
  <p> Your search turned up empty. Time to add your favorite concert to our website! </p>
<% else %>
  <table class="center">
  	<tr>
  		<th> Rank </th>
  		<th> Name </th>
  		<th> Score </th>
  		<th> Votes </th>
  		<th> Genre </th>
  	</tr>
  	<% @productions_or_concerts.each do |c| %>
  		<tr>
    		<td>
          <% if c.number_of_votes == 0 %>
            N/A
          <% else %>
            <%= c.rank %>.
          <% end %>
        </td>
        <td>
          <% if @klass == 'Production' %>
      		  <b> <%= link_to "#{c.name}", production_path(c) %> </b>
          <% else %>
            <b> <%= link_to "#{c.name}", production_path(c.production_id, concert_id: c) %> </b>
          <% end %>
        </td>
    		<td> 
          <% if c.number_of_votes == 0 %>
      			No Score
      		<% else %>
      			<%= number_with_precision(c.aggregate_score, precision: 1) %>
      		<% end %>
        </td>
    		<td> <%= c.number_of_votes %> </td>
    		<td> <%= c.genre %> </td>
        <% if user_signed_in? %>
          <td>
            <% if current_or_guest_user.admin? %>
              <% if @klass == 'Production' %>
                <%= link_to 'Delete', production_path(c, category: @category, genre: @genre,
                      index_search: @index_search), method: :delete, remote: true %>
              <% else %>
                <%# TODO: Implement concert deletion %>
              <% end %>
            <% end %>
          </td>
        <% end %>
  		</tr>
  	<% end %>
  </table>
  <div class="pagination">
  	<%= will_paginate @productions_or_concerts, container: false, param_name: 'productions_or_concerts_page', 
          params: { category: @category, klass: @klass, genre: @genre, search: @index_search } %>
  	<div class="pagination_info">
      	(<%= pluralize(@productions_or_concerts.total_entries, @klass) %>)
  	</div>
  </div>
<% end %>