<p> <b> Welcome tuneaddict </b> ...introduction to site </p>
<p>
  <% if user_signed_in? %>
    <%= link_to 'Add your favorite live music event!', new_production_path  %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %> or 
    <%= link_to 'Sign Up', new_user_registration_path %> to create a new live music event!
  <% end %>
</p>
<p> <b> The best live music as voted by the people. </b> </p>
<h3> Filter by Category </h3>
<div id="category_filter">
	<%= render partial: 'category_filter' %>
</div>
<h3> Filter by Genre </h3>
<div id="genre_filter">
	<%= render partial: 'genre_filter' %>
</div>
<br>
<div id="index_search_div">
	<%= render partial: 'index_search' %>
</div>
<div id="index_rankings">
	<%= render partial: 'index_rankings' %>
</div>