<h2 class="no_top_margin heading_inside_box"> Your Ratings </h2>
<% if user_signed_in? %>
	<ul class="no_top_margin">
		<li class="voting_stars"> 
			<h4 class="category"> The Music </h4>
      <%= render partial: 'ratings/voting_form', locals: { class_name: 'music_score', concert_id: @concert.id } %> 
		</li>
		<li class="voting_stars"> 
			<h4 class="category"> The Venue </h4>
      <%= render partial: 'ratings/voting_form', locals: { class_name: 'venue_score', concert_id: @concert.id } %> 
		</li>
		<li class="voting_stars"> 
			<h4 class="category"> The People </h4>
      <%= render partial: 'ratings/voting_form', locals: { class_name: 'people_score', concert_id: @concert.id } %> 
		</li>
		<li class="voting_stars"> 
			<h4 class="category"> The Atmosphere </h4>
      <%= 
        render partial: 'ratings/voting_form', 
          locals: { class_name: 'atmosphere_score', concert_id: @concert.id } 
      %> 
		</li>
	</ul>
	<div id="vote_counted">
		<% if @rating %>
			<% if @rating.complete? == false %>
				<p class="notice"> Your rating won't be counted until you've voted in every category. </p>
			<% end %>
		<% else %>
			<p> Cast your vote! </p>
		<% end %>
	</div>
<% else %>
	<p> 
    To vote for an event, <%= link_to 'sign in', new_user_session_path %> or 
	  <%= link_to 'sign up', new_user_registration_path %> if you haven't already!
  </p>
<% end %>