<h2 class="sub_heading"> Dive Into A Genre </h2>
<ul class='horizontal'>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Blues'), class: 'image_link', remote: true do %> 
      <%= image_tag('blues.jpg') %>
      <span> <b> Blues </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Classical'), class: 'image_link', remote: true do %>
      <%= image_tag('classical.gif') %>
      <span> <b> Classical </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Country'), class: 'image_link', remote: true do %> 
      <%= image_tag('country.jpg') %>
      <span> <b> Country </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Electronic'), class: 'image_link', remote: true do %>
      <%= image_tag('electronic.jpg') %>
      <span> <b> Electronic </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Ethnic'), class: 'image_link', remote: true do %> 
      <%= image_tag('ethnic.jpg') %>
      <span> <b> Ethnic </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Hip Hop'), class: 'image_link', remote: true do %> 
      <%= image_tag('hiphop.jpg') %>
      <span> <b> Hip Hop </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Jazz'), class: 'image_link', remote: true do %>
      <%= image_tag('jazz.jpg') %>
      <span> <b> Jazz </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Pop'), class: 'image_link', remote: true do %> 
      <%= image_tag('pop.jpg') %>
      <span> <b> Pop </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'R&B'), class: 'image_link', remote: true do %> 
      <%= image_tag('rnb.png') %>
      <span> <b> R&B </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Rock'), class: 'image_link', remote: true do %> 
      <%= image_tag('rock.jpg') %>
      <span> <b> Rock </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Other'), class: 'image_link', remote: true do %> 
      <%= image_tag('other.jpg') %>
      <span> <b> Other </b> </span> 
    <% end %>
  </li>
	<li class="genre_box"> 
    <%= link_to concerts_path(genre: 'Multiple'), class: 'image_link', remote: true do %>
      <%= image_tag('multiple.gif') %>
      <span> <b> Multiple </b> </span>
    <% end %>
  </li>
</ul>