<h2 class="sub_heading"> Dive Into A Genre </h2>
<ul class="horizontal">
	<li> 
    <%= link_to concerts_path(genre: 'Blues'), class: 'genre_link', remote: true do %> 
      <%= image_tag('blues.jpg') %>
      <b> Blues </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Classical'), class: 'genre_link', remote: true do %>
      <%= image_tag('classical.gif') %>
      <b> Classical </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Country'), class: 'genre_link', remote: true do %> 
      <%= image_tag('country.jpg') %>
      <b> Country </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Electronic'), class: 'genre_link', remote: true do %>
      <%= image_tag('electronic.jpg') %>
      <b> Electronic </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Ethnic'), class: 'genre_link', remote: true do %> 
      <%= image_tag('ethnic.jpg') %>
      <b> Ethnic </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Hip Hop'), class: 'genre_link', remote: true do %> 
      <%= image_tag('hip_hop.jpg') %>
      <b> Hip Hop </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Jazz'), class: 'genre_link', remote: true do %>
      <%= image_tag('jazz.jpg') %>
      <b> Jazz </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Pop'), class: 'genre_link', remote: true do %> 
      <%= image_tag('pop.jpg') %>
      <b> Pop </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'R&B'), class: 'genre_link', remote: true do %> 
      <%= image_tag('rnb.png') %>
      <b> R&B </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Rock'), class: 'genre_link', remote: true do %> 
      <%= image_tag('rock.jpg') %>
      <b> Rock </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Other'), class: 'genre_link', remote: true do %> 
      <%= image_tag('other.jpg') %>
      <b> Other </b>
    <% end %>
  </li>
	<li> 
    <%= link_to concerts_path(genre: 'Multiple'), class: 'genre_link', remote: true do %>
      <%= image_tag('multiple.gif') %>
      <b> Multiple </b>
    <% end %>
  </li>
</ul>