<% if @concerts.empty? %>
	<p> <b> There are no concerts to display. Add some! </b> </p>
<% else %>
	<h2> <%= @production.name %> Concert Rankings </h2>
	<table class="center">
		<tr>
  		<th> Rank </th>
  		<th> Name </th>
  		<th> Score </th>
  		<th> Votes </th>
  		<th> Genre </th>
		</tr>
		<% @concerts.each do |c| %>
			<tr>
				<td>
          <% if c.number_of_votes == 0 %>
            N/A
          <% else %>
            <%= c.rank %>.
          <% end %>
        </td>
				<td>
          <b> <%= link_to c.name, production_concert_path(c.production_id, c, 
                    concerts_page: @concerts.current_page), remote: true %>
          </b>
        </td>
				<td> 
          <% if c.number_of_votes == 0 %>
  					No Score
  				<% else %>
  					<%= number_with_precision(c.aggregate_score, precision: 1) %>
  				<% end %> 
        </td>
				<td> <%= c.number_of_votes %> </td>
				<td> <%= c.genre %> </td>
        <% if current_or_guest_user.admin? %>
				  <td> <%= link_to 'Delete', production_concert_path(c.production_id, c), method: :delete, remote: true %> </td>
        <% end %>
			</tr>
		<% end %>
	</table>
	<div class="pagination">
		<%= will_paginate @concerts, param_name: 'concerts_page', container: false, 
          params: { controller: 'concerts', action: 'index', production_id: @production.id } %>
		<div class="pagination_info">
			(<%= pluralize(@concerts.total_entries, 'Concert') %>)
		</div>
	</div>
<% end %>