<div class="rankings_header">
  Events shown: <%= select_tag 'rankings_size', 
      options_for_select([ '10', '20', '50', '100'], "#{selected_size}") %>
  <div class="sort_rankings float_right">
    Sort by: <%= select_tag 'sort_rankings', 
      options_for_select([ 'Rank', 'Name', 'Votes'], "#{selected_sorting}") %>
  </div>
</div>
<% if @concerts.empty? && @genre == 'All' %>
     <p> There are no concerts. Add some! </p>
<% elsif @concerts.empty? %>
  <p> Your search turned up empty. Time to add your favorite concert to our website! </p>
<% else %>
  <table class="rankings_table">
    <thead>
    	<tr>
    		<th> Rank </th>
    		<th> Name </th>
    		<th> Score </th>
    		<th> Votes </th>
    		<th> Genre </th>
        <th> City </th>
        <th> State </th>
        <th> Country </th>
    	</tr>
    </thead>
  	<% @concerts.each do |c| %>
  		<tr>
    		<td>
          <% if c.votes == 0 %>
            N/A
          <% else %>
            <%= c.rank %>.
          <% end %>
        </td>
        <td>
          <b> <%= link_to "#{c.name}", concert_path(c.id) %> </b>
        </td>
    		<td> 
          <% if c.votes == 0 %>
      			No Score
      		<% else %>
      			<%= number_with_precision(c.aggregate_score, precision: 1) %>
      		<% end %>
        </td>
    		<td> <%= c.votes %> </td>
    		<td> <%= c.genre.name %> </td>
        <td> <%= c.city.name %> </td>
        <td> <%= c.state.name %> </td>
        <td> <%= c.country.name %> </td>
        <% if user_signed_in? %>
          <td>
            <% if current_user.admin? %>
              <%= link_to 'Delete', concert_path(c, genre: @genre, selected_size: selected_size, 
                    selected_sorting: selected_sorting), method: :delete, remote: true %>
            <% end %>
          </td>
        <% end %>
  		</tr>
  	<% end %>
  </table>
  <div class="pagination">
  	<%= will_paginate @concerts, container: false, param_name: 'concerts_page', 
          params: { genre: @genre } %>
  	<div class="pagination_info">
      	(<%= pluralize(@concerts.total_entries, 'Event') %>)
  	</div>
  </div>
<% end %>