<div class="intro">
  <div class="intro_image"></div>
  <div class="intro_greeting">
    <h1 class="no_top_margin"> THE BEST LIVE MUSIC? </h1>
    <h1> WE DECIDE. </h1>
    <p> Explore, share, and vote for your favorite live music. </p>
  </div>
</div>
<div class="filters">
  <div id="index_search_container">
  	<%= render partial: 'index_search' %>
  </div>
  <h1> Discover A Genre </h1>
  <div id="genre_filter">
  	<%= render partial: 'genre_filter' %>
  </div>
</div>
<div id="index_rankings" class="box">
  <%= render partial: 'index_rankings' %>
</div>
<p class="no_bottom_margin">
  <% if user_signed_in? %>
    <b> <%= link_to 'Add your favorite live music event!', new_concert_path  %> </b>
  <% else %>
    <b> <%= link_to 'Sign In', new_user_session_path %> </b> or 
    <b> <%= link_to 'Sign Up', new_user_registration_path %> </b> to create a new live music event!
  <% end %>
</p>