<div class="intro">
  <div class="intro_image"></div>
  <div class="intro_greeting">
    <h1 class="no_top_margin"> THE BEST LIVE MUSIC? </h1>
    <h1> WE DECIDE. </h1>
    <p> Explore, share, and vote for your favorite live music. </p>
  </div>
</div>
<div class="event_search_container">
  <h2 class="sub_heading"> Find An Event </h2>
	<%= render partial: 'event_search' %>
</div>
<div class="add_event">
  <%= image_tag('missing_piece.png') %>
  <div class="add_event_message">
    <h4> Can't Find Your Event? </h4>
    <p>
      <% if user_signed_in? %>
        <b> <%= link_to 'Add your favorite live music event!', new_concert_path  %> </b>
      <% else %>
        Join us and show off your favorite live music to the world
      <% end %>
    </p>
  </div>
  <div class="add_event_links">
    <b> 
      <%= link_to 'Sign In', new_user_session_path %>
      <br>
      <%= link_to 'Sign Up', new_user_registration_path %>
    </b>
  </div>
</div>
<h1 class="main_heading"> Explore </h1>
<div class="genre_filter">
	<%= render partial: 'genre_filter' %>
</div>
<div class="google_maps_container">
  <%= render partial: 'google_maps_heading' %>
  <%= render partial: 'google_maps' %>
</div>
<div class="rankings_container">
  <%= render partial: 'rankings' %>
</div>