<div class="intro">
  <div class="intro_image"></div>
  <div class="intro_greeting">
    <h1 class="no_top_margin"> The best live music? </h1>
    <h1> We decide. </h1>
    <p> Explore, share, and vote for your favorite live music. </p>
  </div>
</div>
<div class="event_search_container">
  <h2 class="sub_heading"> Find An Event </h2>
	<%= render partial: 'event_search' %>
</div>
<div class="add_event">
  <%= image_tag('missing_piece.png') %>
  <div class="add_event_message">
    <h4 class="heading_inside_box"> Can't find your event? </h4>
    <p>
      <% if user_signed_in? %>
        <b> <%= link_to 'Add your favorite live music event!', new_concert_path, class: 'orangey_link'  %> </b>
      <% else %>
        Join us and show off your favorite live music to the world!
      <% end %>
    </p>
  </div>
  <div class="add_event_links">
    <b> 
      <%= link_to 'Sign In', new_user_session_path, class: 'orangey_link' %>
      <br>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'orangey_link' %>
    </b>
  </div>
</div>
<h1 class="main_heading"> Explore </h1>
<div class="genre_filter">
  <h2 class="sub_heading"> Dive Into A Genre </h2>
	<%= render partial: 'genre_filter' %>
</div>
<div class="google_maps_container">
  <div class="google_maps_heading"> 
    <%= render partial: 'google_maps_heading' %> 
  </div>
  <%= render partial: 'google_maps' %>
</div>
<div class="rankings">
  <div class="rankings_heading">
    <%= render partial: 'rankings_heading' %>
  </div>
  <div class="rankings_container">
    <h2 class="heading_inside_box"> Voted by tunezer users </h2>
    <div class="rankings_list">
      <%= render partial: 'rankings', locals: { selected_size: '10', selected_sorting: 'Rank' } %>
    </div>
  </div>
</div>