<h1> <%= @concert.name %> </h1>
<div id="scores">
  <%= render partial: 'shared/display_scores', locals: { display: @concert } %>
</div>
<div id="voting">
  <%= render partial: 'ratings/voting', locals: { concert_id:  @concert.id } %>
</div>
<p> <b>
  <% if user_signed_in? %>
  	<%= link_to 'Add a Video', new_concert_video_path(@concert), remote: true %>
  <% else %>
      <%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %>
      to add a video for this concert!
  <% end %>
</b> </p>
<div id="create_concert_or_video">
  <%# `@new_video` is only used when Javascript is absent. %>
  <%= render partial: 'videos/new' if @new_video %>
</div>
<h2> <%= @concert.name %> Videos </h2>
<div id="show_videos">
	<%= render partial: 'videos/index' %>
  <div id="video_not_found"></div>
</div>
<h3 class="no_bottom_margin"> Comments </h3>
<div id="linked_comment">	
	<%= render partial: 'comments/linked_comment'%>
</div>
<div id="comment_form">
	<%= render partial: 'comments/comment_form'%>
</div>
<div id="comments">	
	<%= render partial: 'comments/index' %>
</div>