<h1> <%= @location.name %> </h1>
<div class="rankings_container">
  <h2 class="sub_heading"> The Rankings </h2>
  <%= render partial: 'concerts/rankings' %>
</div>
<h3 class="no_bottom_margin"> Comments </h3>
<div id="linked_comment">	
	<%= render partial: 'comments/linked_comment'%>
</div>
<div class="comment_form">
  <% if user_signed_in? %>
	  <%= render partial: 'comments/comment_form', locals: { commentable: @location } %>
  <% else %>
      <b> <%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %>
      to post a comment! </b>
  <% end %>
</div>
<div class="comments">	
	<%= render partial: 'comments/index', locals: { commentable: @location } %>
</div>